<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="http://at.alicdn.com/t/font_1216890_wxh988aybv.css"  rel="stylesheet">
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <!--引入layui-->
    <link rel="stylesheet" href="../layui1/css/layui.css" media="all">
    <script type="text/javascript" src="../layui1/layui.js"></script>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;

            //日期时间有效范围的设定:
            laydate.render({
                elem: '#date' // 绑定元素的id
                ,type: 'date' // 设置格式：日期时间
                ,theme: '#241c93' // 自定义主题颜色
                ,calendar: true // 显示公历节假日
                ,show: true   //默认直接显示
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            //组员查询某一天的信息
            $("#submitBtn").click(function () {
                    $.ajax({
                        type: "get",
                        url: "/logs/workday",
                        data: $("#form").serialize(),
                        success: function (data) {
                            //返回的数据
                            var overtime = data;
                            var str = "";

                            //获取当前日期并进行格式化YY-MM-DD
                            var date = new Date();
                            var seperator1 = "-";
                            var year = date.getFullYear();
                            var month = date.getMonth() + 1;
                            var strDate = date.getDate();
                            if (month >= 1 && month <= 9) {
                                month = "0" + month;
                            }
                            if (strDate >= 0 && strDate <= 9) {
                                strDate = "0" + strDate;
                            }
                            var currentdate = year + seperator1 + month + seperator1 + strDate;

                            if ($("#date").val() == currentdate) {

                                document.getElementById("td1").innerText = $("#date").val();
                                document.getElementById("td2").innerText = overtime.award;
                                document.getElementById("btnR").className = "layui-btn layui-btn-radius";
                                document.getElementById("btnR").disabled = false;
                                document.getElementById("btnR").innerText = "申请";

                            } else {
                                document.getElementById("td1").innerText = $("#date").val();
                                document.getElementById("td2").innerText = overtime.award;
                                document.getElementById("btnR").className = "layui-btn layui-btn-radius layui-btn-disabled";
                                document.getElementById("btnR").disabled = true;
                                document.getElementById("btnR").innerText = "请于当天申请";

                            }

                        }
                    })

            });

            //组员申请加班
            $("#btnR").click(function () {

                $.ajax({
                    type : "post",
                    url : "/logs/applys",
                    success : function () {
                        alert("申请成功");
                        document.getElementById("btnR").className = "layui-btn layui-btn-radius layui-btn-disabled";
                        document.getElementById("btnR").innerText = "审批中";
                        document.getElementById("btnR").disabled = true;
                    },
                    error : function () {
                        alert("申请失败");
                    }

                })
            });

            //查询申请记录
            $("#btn2").click(function () {
                $.ajax({
                    type : "get",
                    url : "/logs/applys",
                    success : function (data) {
                        var str = "";
                        var logs=data.logs;
                        for (var i in logs) {
                            var state = logs[i].logState == 0 ? '审核中' : (logs[i].logState == 1 ? '通过申请' : '拒绝申请')
                            str += "<tr>" +
                                "<td>" + logs[i].logDate + "</td>" +
                                "<td>" + logs[i].logAward + "</td>" +
                                "<td>" + state + "</td>" +
                                "</tr>";
                        }
                        document.getElementById("tableData2").innerHTML = str;
                    }
                })
            });

        });


    </script>

</head>
<body>

<div>
    <h4>请输入查询时间：</h4>
</div>


<form id = form>
    <div class="layui-inline">
        <input placeholder="点击选择日期" type="text" class="layui-input" id="date" name="workDay">
    </div>
    <input id="submitBtn" type="button" class="layui-btn layui-btn-radius layui-btn-warm" value="查询">
</form>

<div>
    <table class="layui-table">
        <colgroup>
            <col align="left">
            <col align="center">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>日期</th>
            <th>加班费/加班餐</th>
            <th>是否申请</th>
        </tr>
        </thead>
        <tbody id="tableData">
        <tr>
            <td id="td1">无</td>
            <td id="td2">无</td>
            <td id="td3"><button id="btnR" class="layui-btn layui-btn-radius layui-btn-disabled" disabled>申请</button></td>
        </tr>
        </tbody>
    </table>
</div><br>

<div align="center">
    <button id="btn2" class="layui-btn layui-btn-radius layui-btn-normal">查看申请记录</button>
</div><br>

<div>
    <h3 align="center">申请记录</h3><br>
    <table class="table table-bordered">
        <colgroup>
            <col align="left">
            <col align="center">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>日期</th>
            <th>加班费/加班餐</th>
            <th>申请状态</th>
        </tr>
        </thead>
        <tbody id="tableData2">

        </tbody>
    </table>
</div>

</body>
</html>